*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 16px;
  font-family: "poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #793ad1;
}
.background{
  width: 450px;
  height: auto;
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  box-sizing: 0 0 10px #00000091;
}
.background textarea{
  display: block;
  width: 100%;
  resize: none;
  padding: 20px;
  outline: none;
  border: 2px solid #b2b2b2;
  border-radius: 5px;
}
.background p{
  width: 100%;
  text-align: right;
  margin-top: 20px;
  color: #737373;
}